<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BouncyCastle" version="1.7.0" targetFramework="net461" />
  <package id="NUnit" version="2.6.4" targetFramework="net461" />
  <package id="NUnitTestAdapter" version="2.3.0" targetFramework="net461" />
  <package id="OpaqueMail" version="2.4.3" targetFramework="net461" />
  <package id="Selenium.Support" version="4.2.0" targetFramework="net461" />
  <package id="Selenium.WebDriver" version="4.2.0" targetFramework="net461" />
  <package id="System.Net.FtpClient" version="1.0.5824.34026" targetFramework="net461" />
</packages>